@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTour.cshtml";
}
<div class="col-lg-12">
    <p>Vì tình hình dịch đang diễn ra rất phức tạp nên hiện tại chúng tôi không tổ chức các tour đi nước ngoài</p>
</div>