@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ 
    ViewData["Title"] = "ThanhToanThanhCong";
    Layout = "/Views/Shared/_LayoutTour.cshtml";
}
<div class="container py-lg-4 py-sm-3">
    <div style="text-align:center">
        <p>Thanh toán thành công.</p>
        <p>Cám ơn quý khách đã sử dụng dịch vụ của chúng tôi.</p>
        <p>Chúc quý khách có một chuyến đi thật thú vị và đầy niềm vui.</p>
    </div>
</div>